@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
}

nav{
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 2;
  }



.logo{
  
  flex: 60%;
  
}
h1{
  margin-left: 2%;
  font-size: 2rem;
}
.botoes{
    display: flex;
    gap: 1rem;
    flex: 40%;
    align-items: center;
    
}

img#sun{
    width: 70px;
    height: 40px;
    vertical-align: middle;
    margin-left:-20px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 2%;
    padding: 16px 10px;
    
}

a:hover{
    text-decoration: underline;
    
}


/*Form*/

#form {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  justify-content: center; 
  min-height: calc(100vh - 0px); 
  gap: 1rem; 
}
input{
  width: 50%;
  height: 50px;
  border-radius: 3px;
  
}

button{
  width: 20%;
  height: 50px;
  border-radius: 3px;
  background-color: #333;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
#clima{
  margin-left: 0px;
}

.resultado{
  position: absolute;
  margin-top: 280px;
}